<header>
    <section id="header">
        <h4><a href="/">SHIRTcart</a></h4>

        <div>
            <ul id="navbar">
                <li><a href="/">HOME</a></li>
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/user"><i class="fa-regular fa-user"></i></a></li>
                
                <li>
                    <a href="cart">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>