body h5{
    margin-top: 50px;
    display: block;
    text-align: center;
}
body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; height: 300px;
}
body button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}