<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/style/approvePayment.css">

</head>
<body>
    <%- include('includes/header') %>
    <h5>Please approve payment and click Approved when done</h5>
    <img src="/img/ZKZg.gif" alt="">
    <form action="/orderPlaced" method="get">
        <button type="submit">Approved</button>
    </form>
    <footer>
        <%- include('includes/footer') %>
    </footer>
</body>
</html>
