<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include('includes/header') %>

        <main>
            <section id="hero">
                <h4>End of season Sale!!</h4>
                &nbsp
                <h3>Super value deals on <span id="white-text">all Products</span></h3>
                <p>Get upto 70% off</p>

                <button>Shop Now</button>
            </section>

            <section id="product1" class="section-p1">
                <h2>Featured Products </h2>
                <p>Discover the epitome of style and comfort with our curated collection of shirts, meticulously
                    selected for the discerning fashion enthusiast. Crafted from premium fabrics, our featured shirts
                    boast exquisite designs that effortlessly elevate your wardrobe. Whether you're seeking sleek formal
                    attire or casual chic vibes, we have the perfect shirt to suit every occasion. Embrace versatility
                    with timeless patterns and contemporary cuts that exude confidence and sophistication. From crisp
                    cotton classics to bold statement pieces, each shirt embodies unparalleled quality and impeccable
                    craftsmanship. Elevate your look and make a lasting impression with our standout selection of
                    shirts, designed to complement your individuality with flair.</p>
                <div class="pro-container">
                    <img src="/img/hero5.jpg" alt="" width="100%" style="border-radius: 20px;">
                </div>
                <p>Indulge in superiority unparalleled with our exclusive range of shirts, meticulously designed to
                    surpass every expectation. We pride ourselves on sourcing only the finest materials, ensuring
                    unparalleled comfort and durability that withstands the test of time. Our attention to detail sets
                    us apart, with precision tailoring that guarantees a flawless fit, enhancing your silhouette with
                    unmatched elegance. Embrace innovation with our cutting-edge designs, seamlessly blending timeless
                    sophistication with contemporary flair. Unlike mass-produced alternatives, each shirt in our
                    collection is crafted with care and expertise, reflecting our commitment to excellence. Elevate your
                    style effortlessly and experience the epitome of sartorial excellence with our superior shirts.</p>
                <div class="pro-container">
                        <img src="/img/hero6.jpg" alt="" width="100%" style="border-radius: 20px;">
                </div>
                <h2 id="exploreNowHeading">Explore NOW !!!</h2>
            
                
            </section>

        </main>
        <hr>
        <footer>
            <%- include('includes/footer') %>
        </footer>


</body>

</html>