<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/header') %>
   <h4 style=" display: block;
   text-align: center; margin-top: 100px;">Your Order is On it's Way <i class="fa-solid fa-face-smile-wink"></i> </h4>
   <footer>
    <%- include('includes/footer') %>
</footer>
</body>
</html>