<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include('includes/header') %>
    <div style="height: 300px;width: 100%;"></div>
    <footer>
        <%- include('includes/footer') %>
    </footer>
    </body>

</html>